extend ../_component/layout/base
block config
    -
        var title = 'Contact Quick Blog';
        var description = 'Contact me, the creator, Marian Zburlea';
block content
    .content
        h2 Contact Information
        p You can find me on those social media platforms:
        ul
            li
                a(title='Click to go to Facebook') Facebook
            li
                a(title='Click to go to Twitter') Twitter
            li
                a(title='Click to go to LinkedIn') LinkedIn
            li
                a(title='Click to go to YouTube') YouTube
            li
                a(title='Click to go to StackOverflow') StackOverflow
        hr
        figure.image-container
            img.image(src='/asset/image/november.jpg')
            figcaption.image-caption
                strong Note:
                span  Leaves fall down in November
