$theme: 'buttercup';

$color-normal: #f1f1f1;
$color-dark: #000;

@if ($theme == 'pickled-bluewood') {
    $color-normal: #34495E;
    $color-dark: #2C3E50;
}

@if ($theme == 'buttercup') {
    $color-normal: #f1c40f;
    $color-dark: #f39c12;
}

@if ($theme == 'zest') {
    $color-normal: #E67E22;
    $color-dark: #D35400;
}
$color-athens-gray: #e7e9ec;
$color-golden-grass: #dd9a2d;
$color-white: #fff;