doctype html
html
    block config
    head
        title=title
        meta(name="description", content=description)
        link(rel="stylesheet", href="style.css")
    body
        block content
        include ../menu/menu
        include ../footer/footer