@media (min-width: 768px) {
    // .welcome {
    //     min-height: 100vh;
    // }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer,
    .content {
        grid-column: 1/3;
    }
}