@media (min-width: 1280px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 13rem;
        grid-template-rows: auto 1fr 7rem;
    }

    .content {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    footer {
        grid-column: 1/3;
    }

    .welcome {
        h1 {
            font-size: 2.5rem;
        }

        .welcome__description {
            font-size: 1.4rem;
        }
    }

    .content {
        h2 {
            font-size: 2rem;
        }
    }
}