doctype html
html
    block config
    head
        title=title
        meta(name="description", content=description)
        link(rel="stylesheet", href="/style.css")
        //- link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet")
    body
        include ../welcome/welcome
        .container-second
            block content
            include ../footer/footer        