footer
    .footer
        div &copy; 2017 - #{new Date().getFullYear()} #{data.site.company}
        ul.footer__list
            li
                a.footer__link(href="/privacy") Privacy
            li
                a.footer__link(href="/terms") Terms