footer {
    padding: 0.5rem;
}
.footer {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: $color-dark;
    color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__list {
    display: flex;
    justify-content: space-around;

    li {
        list-style-type: none;
    }
}

.footer__link {
    display: block;
    padding: 1rem;
    color: $color-white;
    text-decoration: none;
}