h3 Info
ul
    li
        a(href="/") Home
    li
        a(href="/about.html") About
    li
        a(href="/contact.html") Contact

h3 Categories
ul
    li
        a(href="/html") HTML5
    li
        a(href="/css") CSS3