//- .menu
.menu__panel
    h3.menu__title Info
    ul.menu__list
        li
            a(href="/") Home
        li
            a(href="/about") About
        li
            a(href="/contact") Contact

.menu__panel
    h3.menu__title Categories
    ul.menu__list
        li
            a(href="/html") HTML5
        li
            a(href="/css") CSS3