@media screen and (min-width: 768px) {
    // body {
    //     display: grid;
    //     grid-template-columns: 1fr 1fr;
    //     // grid-gap: 1rem;
    // }

    .menu__panel {
        margin: 0.5rem;
        &:first-of-type {
            grid-column: 1/2;
        }
        &:last-of-type {
            grid-column: 2/3;
        }
    }
    // .menu {
    //     display: flex;
    //     align-items: stretch;
    //     justify-content: space-between;
    // }

    // .menu__panel {
    //     flex-grow: 1;
    //     // height: 100%;
    //     // margin: auto;
    //     &:first-child {
    //         margin-right: 1rem;
    //     }
    // }
}