@media (min-width: 1280px) {
    // extra styles for the the desktop version 
    body {
        grid-template-columns: 1fr 13rem;
        grid-template-rows: 100vh 1fr 1fr 7rem;
    }

    .welcome {
        grid-column: 1/3;
        grid-row: 1/2;

        h1 {
            font-size: 2.5rem;
        }

        .welcome__description {
            font-size: 1.5rem;
        }
    }

    .content {
        grid-column: 1/2;
        grid-row: 2/4;
    }

    footer {
        grid-column: 1/3;
        grid-row: 4/5;
        margin-bottom: 1rem;
    }

    .menu__panel {
        grid-column: 2/3;

        &:first-of-type {
            grid-row: 2/3;
        }

        &:last-of-type {
            grid-row: 3/4;
        }
    }
}