extends _component/layout/base

block config
    - 
        var title = 'About Quick Blog'
        var description = 'Quick Blog is one of the quickest and fastest toold for writing blogs in the world'
block content
    h1=title
    p=description
