extends _component/layout/lala

block the-same-name
    // this is a comment - start content
    h1 this is my title
    p 
        | this is a paragraph
        | this is second row in pug
    // this is a comment - end content
